---
import DashboardLayout from '../layouts/Dashboard-Layout.astro';
---

<DashboardLayout title='Formulario para cargar un nuevo curso' path='Agregar nuevo curso' pageTitle='Agregar nuevo curso'>
    <div class="ml-6 w-full max-w-xs">
        <form class="rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="dni">Nombre del curso</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dni" type="text" placeholder="Carpiteria">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="descripcion">Grado academico</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descripcion" type="text" placeholder="Carpintero">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nota">Profesor a cargo</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nota" type="text" placeholder="43503234">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nota">Descripcion</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nota" type="text" placeholder="Curso de carpinteria general para fabricación de muebles del hogar">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nota">Duración</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nota" type="text" placeholder="1 año">
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Cargar curso
            </button>
            <a class="bg-white text-black font-bold px-4 hover:border-b-2 border-b-black cursor-pointer" href="/administrar-cursos">
                Cancelar
              </a>
          </div>
        </form>
      </div>
</DashboardLayout>