---
import '../css/style.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="../../public/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<script src="https://kit.fontawesome.com/aef010b255.js" is:inline crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Iniciar sesi칩n</title>
	</head>
        <body class="w-p m-auto mt-60 bg-cyan-200">
                <main>
                    <section class="w-full rounded-6 shadow-2xl p-10 bg-white">
                        <form class="rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-8">
                              <label class="block text-gray-700 text-sm font-bold mb-2" for="dni">Correo</label>
                              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dni" type="text" placeholder="juan@gmail.com">
                            </div>
                            <div class="mb-4">
                              <label class="block text-gray-700 text-sm font-bold mb-2" for="descripcion">Contrase침a</label>
                              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descripcion" type="text" placeholder="*************">
                            </div>
                            <div class="flex items-center justify-around pt-5 pb-5">
                              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Iniciar sesi칩n
                              </button>
                              <a class="text-black font-bold px-4 hover:border-b-2 border-b-black cursor-pointer" href="/examenes-y-materias">
                                  Olvide mi contrase침a
                                </a>
                            </div>
                          </form>

                    </section>
                </main>
        </body>
    </html>

    <style>
        .w-p{
            width: 500px;
        }
    </style>