---
import DashboardLayout from "../layouts/Dashboard-Layout.astro";
---

<DashboardLayout title="Mi perfil" path="Nombre de la persona" pageTitle="Mi perfil">

    <div class="border-2 border-black w-full flex">
        <img class="w-40" src="../../public/img/usuario-de-perfil.png" alt="">
        <p>Juan Sanchez Pedriador</p>
        <p>Alumno</p>
    </div>
    <div>
        <h2>Datos personales</h2>
    </div>
    <div>
        <h3>Configuracion</h3>
    </div>

</DashboardLayout>